@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
body{
    min-height: 100vh;
     margin: 0;
    background-image: url('https://i.pinimg.com/1200x/6e/4d/d9/6e4dd90db26d58d5f0ca7c145943491e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.links{
    color: #598eff ;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: #DFE7F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Erica One Display',sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: #DFE7F2;
}


header{
    background-color: #030c1f;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px;
}

.tudo{
    margin: 67px;
    
    height: 100vh;
}
.feedbacks{
    margin-top: 40px;
}

.comentario{
    border-top: 1px solid #598eff;
    padding: 15px 0;
}

.editar{
    color: #598eff;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
