<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="{{ url_for('static', filename='cadastros.css') }}" rel="stylesheet">
</head>
<body>
    {% include 'base_header.html' %}
    <div class="tudo">
    <h4>Cadastro</h4>
        <form action="" method="post">
            <label for="fname">Usuário/E-mail:</label><br>
            <input type="text" name="user" ><br>
            <Br>
            <label for="lname">Senha:</label><br>
            <input type="password"  name="senha" ><br><br>
            <Br>
            <input type="submit" value="Submit">
        </form>
        <Br>
        <Br>
        <a class="links">Já tem conta?</a>
    </div>
</body>
</html>