<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url={{ url_for('cadastro') }}">
    <title>Usuario ja existe</title>
    <link href="{{ url_for('static', filename='cadastros.css') }}" rel="stylesheet">
</head>
<body>
    {% include 'base_header.html' %}

    <div class="tudo">
        <h4>esse usuário já existe</h4>
        <a class="links" href="{{ url_for('cadastro') }}">Voltar para cadastro</a>
    </div>
</body>
</html>
