<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="homepage.css" rel="stylesheet">
    <title>ConsertaPD</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
    </style>
</head>
<body>
    <header>

        <a class="links">Login</a>
        <a class="links">Cadastrar-se</a>
        </ul>
    </header>
    <div>
       <h1>ConsertaPD</h1>
    </div>
    <div id="intro2">
        <p>Esse é o "nciomassa",um site para relatar problemas na escola bla bla bla</p>
    </div>
</body>