<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="homepage.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="iconfinal.png">
    <title>ConsertaPD</title>

</head>
<body>
    <header>
        <img src="iconfinal.png" alt="Logo do site" class="logo">
        <div id="opc">
            <a class="links">Solicitações</a>
            <a class="links">Cadastrar-se</a>
            <a class="links">Login</a>
        </div>
    </header>
    <div class="tudo">
        <div id="intro1">
            <div id="tit">
                <img src="iconfinal.png" alt="Logo do site" >
                <h1>ConsertaPD</h1>
            </div>
            <p>Nosso site de Suporte ao Porto Digital.</p>
        </div>
        <br>
        <br>
        <br>
        <hr>
        <div id="intro2">
            <p>O ConsertaPD é uma plataforma criada para receber, organizar e agrupar problemas identificados nas instituições de ensino. Desenvolvido para toda a comunidade escolar, o projeto tem como objetivo facilitar a comunicação e agilizar a resolução de problemas estruturais e situações comuns da ETE Porto Digital.</p>
        </div>
    </div>
</body>
