<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <title>ConsertaPD</title>

</head>
<body>
    {% include 'base_header.html' %}
    <div class="tudo">
        <div id="intro1">
            <h1>ConsertaPD</h1>
            <p>Nosso site de Suporte ao Porto Digital.</p>
        </div>
        <br>
        <br>
        <br>
        <hr>
        <div id="intro2">
            <p>O ConsertaPD é uma plataforma criada para receber, organizar e agrupar problemas identificados nas instituições de ensino. Desenvolvido para toda a comunidade escolar, o projeto tem como objetivo facilitar a comunicação e agilizar a resolução de problemas estruturais e situações comuns da ETE Porto Digital.</p>
        </div>

        <div class="feedbacks">
            {% for feedback in feedbacks %}
                <div class="comentario">
                    <p><strong>{{ feedback.assunto }}</strong></p>
                    <p>{{ feedback.resenha }}</p>
                    <p>Local: {{ feedback.local }}</p>
                    <p>Data: {{ feedback.data }}</p>
                    <p>Status: {{ feedback.status }}</p>
                    <p>Feito por: {{ feedback.nome_usuario }}</p>
                    <a class="editar" href="{{ url_for('editar_feedback_rota', id_feedback=feedback.id) }}">editar</a>
                    <a class="editar" href="{{ url_for('excluir_feedback_rota', id_feedback=feedback.id) }}">excluir</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
